{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{{ 'featured-products.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
	{{ 'quick-add.css' | asset_url | stylesheet_tag }}
	<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
	<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="featured-products{% if section.settings.full_width == false %} page-width{% endif %}">
	<div class="featured-products__header">
		{%- if section.settings.title != blank -%}
			<h2 class="featured-products__title {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
				{{ section.settings.title }}
			</h2>
		{%- endif -%}
		{%- if section.settings.description != blank-%}
			<div class="featured-products__description {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
				{{ section.settings.description -}}
			</div>
		{%- endif -%}

		{%- if section.settings.button_title != blank and section.settings.button_link != blank -%}
			<a href="{{ section.settings.button_link -}}" class="featured-products__link">
				{{ section.settings.button_title -}}
			</a>
		{%- endif -%}
	</div>
	<div class="featured-products__wrapper">
		{%- for block in section.blocks -%}
			{% render 'card-product',
        card_product: block.settings.product,
        show_vendor: section.settings.show_vendor,
        show_quick_add: section.settings.enable_quick_add,
        section_id: section.id
        stars: block.settings.stars
        reviews: block.settings.reviews
      %}
		{%- endfor -%}
	</div>
</div>

{% schema %}
{
  "name": "Featured products",
  "tag": "section", 
  "class": "section",
  "max_blocks": 4,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width section",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "range",
          "id": "stars",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Stars count",
          "default": 5
        },
        {
          "type": "text",
          "id": "reviews",
          "label": "Reviews"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
